body {
    font-family:"Montserrat-Italic";
    background-image: url(backgrounds/5399717.jpg);
    color: white;
    text-align: center;
}

.mini-photo {
    width: 400px;
    height: 300px;
    border-radius: 10%;
    vertical-align: top;
}
h1 {
    margin: auto;
    height: 30%;
    width: 50%;
    text-align: center;
}
ol {
    list-style-type: none;
}
.footer_index {
    background-color: #83677B;
    text-align: center;
    margin-top: 30%;
    color: white;
    width: 100%;
}

.footer_page {
    background-color: #83677B;
    text-align: center;
    margin-top: 10%;
    color: white;
    width: 100%;
}

@font-face {
    font-family: "Montserrat-italic";
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
footer a {
    color: #2e1114;
    text-align: center;
}

.page__button {
    width: 150px;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: bisque;
    font-family: "Cyr";
    border-radius: 12px;
    font-size: larger;
    display: flex;
    color: #83677B;
    align-items: center;
    justify-content: center;
}
button:hover {
    width: 165px;
    height: 77px;
}

header button {
    margin-right: 100%;
}
@font-face {
    font-family: "Cyr";
    src: url(fonts/Daneehand\ Regular\ Cyr.ttf);
}

.index-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}

.page__footer__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}