body {
    font-family:"Montserrat-Italic";
    background-image: url(backgrounds/5399717.jpg);
    color: white;
    text-align: center;
    background-repeat: no-repeat;
}
.mini-photo {
    width: 400px;
    height: 300px;
    border-radius: 10%;
    vertical-align: top;
}
.headerer-index {
    margin: auto;
    height: 30%;
    width: 50%;
    text-align: center;
}
ol {
    list-style-type: none;
}
.footer-index {
    background-color: #83677B;
    text-align: center;
    margin-top: 22%;
    color: white;
}

.footer-page {
    background-color: #83677B;
    text-align: center;
    margin-top: 5%;
    color: white;
}

@font-face {
    font-family: "Montserrat-italic";
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
footer a {
    color: #2e1114;
    text-align: center;
}

.bisquit-button {
    width: 150px;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: bisque;
    font-family: "Cyr";
    border-radius: 12px;
    font-size: larger;
    color: #83677B;
}
button:hover {
    width: 165px;
    height: 77px;
}

a {
    text-decoration: none;
}

header button {
    margin-right: 100%;
}
@font-face {
    font-family: "Cyr";
    src: url(fonts/Daneehand\ Regular\ Cyr.ttf);
}

.index-navigation {
    display: flex;
    flex-direction: column;
}

.headerer-page {
    margin: auto;
    height: 30%;
    width: 50%;
    text-align: center;
}